--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: InvoiceStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."InvoiceStatus" AS ENUM (
    'DRAFT',
    'OPEN',
    'PAID',
    'UNCOLLECTIBLE',
    'VOID'
);


ALTER TYPE public."InvoiceStatus" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'OWNER',
    'ADMIN',
    'MEMBER',
    'VIEWER'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: SubscriptionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SubscriptionStatus" AS ENUM (
    'ACTIVE',
    'CANCELED',
    'INCOMPLETE',
    'INCOMPLETE_EXPIRED',
    'PAST_DUE',
    'TRIALING',
    'UNPAID',
    'PAUSED'
);


ALTER TYPE public."SubscriptionStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Company" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" text,
    "updatedBy" text,
    "stripeCustomerId" text,
    "stripeSubscriptionId" text
);


ALTER TABLE public."Company" OWNER TO postgres;

--
-- Name: Customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Customer" (
    id text NOT NULL,
    name text NOT NULL,
    email text,
    phone text,
    notes text,
    "companyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    "createdBy" text,
    "updatedBy" text
);


ALTER TABLE public."Customer" OWNER TO postgres;

--
-- Name: EventLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EventLog" (
    id text NOT NULL,
    action text NOT NULL,
    metadata jsonb,
    "userId" text NOT NULL,
    "companyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "ipAddress" text,
    "userAgent" text
);


ALTER TABLE public."EventLog" OWNER TO postgres;

--
-- Name: Feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Feedback" (
    id text NOT NULL,
    message text NOT NULL,
    rating integer,
    "userId" text NOT NULL,
    "companyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Feedback" OWNER TO postgres;

--
-- Name: Invoice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Invoice" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    "stripeInvoiceId" text NOT NULL,
    "invoiceNumber" text,
    "amountDue" integer NOT NULL,
    "amountPaid" integer NOT NULL,
    currency text DEFAULT 'usd'::text NOT NULL,
    status public."InvoiceStatus" NOT NULL,
    "dueDate" timestamp(3) without time zone,
    "paidAt" timestamp(3) without time zone,
    "periodStart" timestamp(3) without time zone NOT NULL,
    "periodEnd" timestamp(3) without time zone NOT NULL,
    "invoicePdf" text,
    "hostedInvoiceUrl" text,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Invoice" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentMethod" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    "stripePaymentMethodId" text NOT NULL,
    type text NOT NULL,
    card jsonb,
    "isDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdBy" text,
    "updatedBy" text
);


ALTER TABLE public."PaymentMethod" OWNER TO postgres;

--
-- Name: Subscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Subscription" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    "stripeSubscriptionId" text NOT NULL,
    "stripePriceId" text NOT NULL,
    "stripeProductId" text NOT NULL,
    status public."SubscriptionStatus" NOT NULL,
    "currentPeriodStart" timestamp(3) without time zone NOT NULL,
    "currentPeriodEnd" timestamp(3) without time zone NOT NULL,
    "cancelAtPeriodEnd" boolean DEFAULT false NOT NULL,
    "canceledAt" timestamp(3) without time zone,
    "trialStart" timestamp(3) without time zone,
    "trialEnd" timestamp(3) without time zone,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdBy" text,
    "updatedBy" text
);


ALTER TABLE public."Subscription" OWNER TO postgres;

--
-- Name: UsageRecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UsageRecord" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    metric text NOT NULL,
    quantity integer NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."UsageRecord" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserCompany; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserCompany" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "companyId" text NOT NULL,
    role public."Role" DEFAULT 'MEMBER'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdBy" text,
    "updatedBy" text,
    "roleId" text
);


ALTER TABLE public."UserCompany" OWNER TO postgres;

--
-- Name: UserInvitation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserInvitation" (
    id text NOT NULL,
    email text NOT NULL,
    "companyId" text NOT NULL,
    role public."Role" DEFAULT 'MEMBER'::public."Role" NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "acceptedAt" timestamp(3) without time zone,
    "invitedBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "roleId" text
);


ALTER TABLE public."UserInvitation" OWNER TO postgres;

--
-- Name: _RolePermissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_RolePermissions" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_RolePermissions" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id text NOT NULL,
    key text NOT NULL,
    name text NOT NULL,
    description text,
    category text NOT NULL,
    "isSystem" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "isSystem" boolean DEFAULT false NOT NULL,
    "companyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdBy" text,
    "updatedBy" text
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Company" (id, name, slug, "createdAt", "updatedAt", "deletedAt", "createdBy", "updatedBy", "stripeCustomerId", "stripeSubscriptionId") FROM stdin;
cmfpwxit80000ms90bateei4h	bnfgn	b-j8f	2025-09-18 21:18:31.278	2025-09-18 21:18:31.278	\N	\N	\N	\N	\N
cmfrqoy6i0000mszkkth84pg1	abc company	a-bxq	2025-09-20 03:59:25.96	2025-09-20 04:33:29.827	\N	\N	\N	cus_T5TR6Z1flfqMf9	\N
\.


--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Customer" (id, name, email, phone, notes, "companyId", "createdAt", "updatedAt", "deletedAt", "createdBy", "updatedBy") FROM stdin;
cmg087bc50001ms589gll1vhe	Joe Blow	jb@SnailMail.com	\N	\N	cmfrqoy6i0000mszkkth84pg1	2025-09-26 02:31:45.698	2025-09-26 02:31:45.698	\N	user_32sB19ZNfcF9bCrgNztf0ZW33m7	user_32sB19ZNfcF9bCrgNztf0ZW33m7
\.


--
-- Data for Name: EventLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EventLog" (id, action, metadata, "userId", "companyId", "createdAt", "ipAddress", "userAgent") FROM stdin;
cmfrrwrtq0004mszkp6d1sjjp	billing.checkout_session_created	{"priceId": "price_1S8gmdQLw5ihiahyw2SpZ5pQ", "planName": "Professional", "sessionId": "cs_test_a1llloQGLKIHssguGD3r8PzbMa8cGK8ARM5nWxd7G4I14pXerd6pNwjofX"}	user_32sB19ZNfcF9bCrgNztf0ZW33m7	cmfrqoy6i0000mszkkth84pg1	2025-09-20 04:33:30.581	\N	\N
\.


--
-- Data for Name: Feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Feedback" (id, message, rating, "userId", "companyId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Invoice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Invoice" (id, "companyId", "stripeInvoiceId", "invoiceNumber", "amountDue", "amountPaid", currency, status, "dueDate", "paidAt", "periodStart", "periodEnd", "invoicePdf", "hostedInvoiceUrl", metadata, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PaymentMethod; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PaymentMethod" (id, "companyId", "stripePaymentMethodId", type, card, "isDefault", "createdAt", "updatedAt", "createdBy", "updatedBy") FROM stdin;
\.


--
-- Data for Name: Subscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Subscription" (id, "companyId", "stripeSubscriptionId", "stripePriceId", "stripeProductId", status, "currentPeriodStart", "currentPeriodEnd", "cancelAtPeriodEnd", "canceledAt", "trialStart", "trialEnd", metadata, "createdAt", "updatedAt", "createdBy", "updatedBy") FROM stdin;
\.


--
-- Data for Name: UsageRecord; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UsageRecord" (id, "companyId", metric, quantity, "timestamp", metadata, "createdAt") FROM stdin;
cmg0ronc40000msz8oj36ayhe	cmfpwxit80000ms90bateei4h		0	2025-09-26 11:37:07.106	null	2025-09-26 11:37:07.106
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, name, "createdAt", "updatedAt", "deletedAt") FROM stdin;
user_32sB19ZNfcF9bCrgNztf0ZW33m7	unknown@example.com	\N	2025-09-20 04:33:27.869	2025-09-20 04:33:27.869	\N
\.


--
-- Data for Name: UserCompany; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UserCompany" (id, "userId", "companyId", role, "createdAt", "updatedAt", "createdBy", "updatedBy", "roleId") FROM stdin;
cmfrrwq900002mszk892556xy	user_32sB19ZNfcF9bCrgNztf0ZW33m7	cmfrqoy6i0000mszkkth84pg1	OWNER	2025-09-20 04:33:28.541	2025-09-26 01:07:15.51	\N	\N	cmg056n3q0012ms4orjgbxgn2
\.


--
-- Data for Name: UserInvitation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UserInvitation" (id, email, "companyId", role, token, "expiresAt", "acceptedAt", "invitedBy", "createdAt", "updatedAt", "roleId") FROM stdin;
\.


--
-- Data for Name: _RolePermissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
51f6d349-12d1-45f4-bc43-e77b9f6051fd	95452267aa864a3972d32ed7ac042db40f2d84da8c5cc97f32ce9e7743362d9c	2025-09-18 17:09:34.09575-04	20250918210933_init	\N	\N	2025-09-18 17:09:33.772846-04	1
6117cf4a-29f2-4f16-a57b-287e7de2db53	2a9ae1e0775411f42d55bcf49c2865116a12e17b672fac42ebf2d5010a4fa843	2025-09-25 21:04:28.359615-04	20250926010428_add_rbac_system	\N	\N	2025-09-25 21:04:28.26549-04	1
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: EventLog EventLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventLog"
    ADD CONSTRAINT "EventLog_pkey" PRIMARY KEY (id);


--
-- Name: Feedback Feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Feedback"
    ADD CONSTRAINT "Feedback_pkey" PRIMARY KEY (id);


--
-- Name: Invoice Invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_pkey" PRIMARY KEY (id);


--
-- Name: PaymentMethod PaymentMethod_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentMethod"
    ADD CONSTRAINT "PaymentMethod_pkey" PRIMARY KEY (id);


--
-- Name: Subscription Subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_pkey" PRIMARY KEY (id);


--
-- Name: UsageRecord UsageRecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UsageRecord"
    ADD CONSTRAINT "UsageRecord_pkey" PRIMARY KEY (id);


--
-- Name: UserCompany UserCompany_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserCompany"
    ADD CONSTRAINT "UserCompany_pkey" PRIMARY KEY (id);


--
-- Name: UserInvitation UserInvitation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserInvitation"
    ADD CONSTRAINT "UserInvitation_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _RolePermissions _RolePermissions_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_RolePermissions"
    ADD CONSTRAINT "_RolePermissions_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: Company_deletedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Company_deletedAt_idx" ON public."Company" USING btree ("deletedAt");


--
-- Name: Company_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Company_slug_idx" ON public."Company" USING btree (slug);


--
-- Name: Company_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_slug_key" ON public."Company" USING btree (slug);


--
-- Name: Company_stripeCustomerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Company_stripeCustomerId_idx" ON public."Company" USING btree ("stripeCustomerId");


--
-- Name: Company_stripeCustomerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_stripeCustomerId_key" ON public."Company" USING btree ("stripeCustomerId");


--
-- Name: Company_stripeSubscriptionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Company_stripeSubscriptionId_idx" ON public."Company" USING btree ("stripeSubscriptionId");


--
-- Name: Company_stripeSubscriptionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_stripeSubscriptionId_key" ON public."Company" USING btree ("stripeSubscriptionId");


--
-- Name: Customer_companyId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Customer_companyId_createdAt_idx" ON public."Customer" USING btree ("companyId", "createdAt");


--
-- Name: Customer_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Customer_companyId_idx" ON public."Customer" USING btree ("companyId");


--
-- Name: Customer_deletedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Customer_deletedAt_idx" ON public."Customer" USING btree ("deletedAt");


--
-- Name: Customer_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Customer_email_idx" ON public."Customer" USING btree (email);


--
-- Name: EventLog_action_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EventLog_action_idx" ON public."EventLog" USING btree (action);


--
-- Name: EventLog_companyId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EventLog_companyId_createdAt_idx" ON public."EventLog" USING btree ("companyId", "createdAt");


--
-- Name: EventLog_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EventLog_companyId_idx" ON public."EventLog" USING btree ("companyId");


--
-- Name: EventLog_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EventLog_createdAt_idx" ON public."EventLog" USING btree ("createdAt");


--
-- Name: EventLog_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EventLog_userId_idx" ON public."EventLog" USING btree ("userId");


--
-- Name: Feedback_companyId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Feedback_companyId_createdAt_idx" ON public."Feedback" USING btree ("companyId", "createdAt");


--
-- Name: Feedback_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Feedback_companyId_idx" ON public."Feedback" USING btree ("companyId");


--
-- Name: Feedback_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Feedback_createdAt_idx" ON public."Feedback" USING btree ("createdAt");


--
-- Name: Feedback_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Feedback_userId_idx" ON public."Feedback" USING btree ("userId");


--
-- Name: Invoice_companyId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_companyId_createdAt_idx" ON public."Invoice" USING btree ("companyId", "createdAt");


--
-- Name: Invoice_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_companyId_idx" ON public."Invoice" USING btree ("companyId");


--
-- Name: Invoice_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_createdAt_idx" ON public."Invoice" USING btree ("createdAt");


--
-- Name: Invoice_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_status_idx" ON public."Invoice" USING btree (status);


--
-- Name: Invoice_stripeInvoiceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Invoice_stripeInvoiceId_idx" ON public."Invoice" USING btree ("stripeInvoiceId");


--
-- Name: Invoice_stripeInvoiceId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Invoice_stripeInvoiceId_key" ON public."Invoice" USING btree ("stripeInvoiceId");


--
-- Name: PaymentMethod_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PaymentMethod_companyId_idx" ON public."PaymentMethod" USING btree ("companyId");


--
-- Name: PaymentMethod_isDefault_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PaymentMethod_isDefault_idx" ON public."PaymentMethod" USING btree ("isDefault");


--
-- Name: PaymentMethod_stripePaymentMethodId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PaymentMethod_stripePaymentMethodId_idx" ON public."PaymentMethod" USING btree ("stripePaymentMethodId");


--
-- Name: PaymentMethod_stripePaymentMethodId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PaymentMethod_stripePaymentMethodId_key" ON public."PaymentMethod" USING btree ("stripePaymentMethodId");


--
-- Name: Subscription_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Subscription_companyId_idx" ON public."Subscription" USING btree ("companyId");


--
-- Name: Subscription_companyId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Subscription_companyId_key" ON public."Subscription" USING btree ("companyId");


--
-- Name: Subscription_currentPeriodEnd_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Subscription_currentPeriodEnd_idx" ON public."Subscription" USING btree ("currentPeriodEnd");


--
-- Name: Subscription_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Subscription_status_idx" ON public."Subscription" USING btree (status);


--
-- Name: Subscription_stripeSubscriptionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Subscription_stripeSubscriptionId_idx" ON public."Subscription" USING btree ("stripeSubscriptionId");


--
-- Name: Subscription_stripeSubscriptionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Subscription_stripeSubscriptionId_key" ON public."Subscription" USING btree ("stripeSubscriptionId");


--
-- Name: UsageRecord_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UsageRecord_companyId_idx" ON public."UsageRecord" USING btree ("companyId");


--
-- Name: UsageRecord_companyId_metric_timestamp_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UsageRecord_companyId_metric_timestamp_idx" ON public."UsageRecord" USING btree ("companyId", metric, "timestamp");


--
-- Name: UsageRecord_metric_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UsageRecord_metric_idx" ON public."UsageRecord" USING btree (metric);


--
-- Name: UsageRecord_timestamp_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UsageRecord_timestamp_idx" ON public."UsageRecord" USING btree ("timestamp");


--
-- Name: UserCompany_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserCompany_companyId_idx" ON public."UserCompany" USING btree ("companyId");


--
-- Name: UserCompany_roleId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserCompany_roleId_idx" ON public."UserCompany" USING btree ("roleId");


--
-- Name: UserCompany_userId_companyId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserCompany_userId_companyId_key" ON public."UserCompany" USING btree ("userId", "companyId");


--
-- Name: UserCompany_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserCompany_userId_idx" ON public."UserCompany" USING btree ("userId");


--
-- Name: UserInvitation_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserInvitation_companyId_idx" ON public."UserInvitation" USING btree ("companyId");


--
-- Name: UserInvitation_email_companyId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserInvitation_email_companyId_key" ON public."UserInvitation" USING btree (email, "companyId");


--
-- Name: UserInvitation_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserInvitation_email_idx" ON public."UserInvitation" USING btree (email);


--
-- Name: UserInvitation_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserInvitation_expiresAt_idx" ON public."UserInvitation" USING btree ("expiresAt");


--
-- Name: UserInvitation_roleId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserInvitation_roleId_idx" ON public."UserInvitation" USING btree ("roleId");


--
-- Name: UserInvitation_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserInvitation_token_idx" ON public."UserInvitation" USING btree (token);


--
-- Name: UserInvitation_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserInvitation_token_key" ON public."UserInvitation" USING btree (token);


--
-- Name: User_deletedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_deletedAt_idx" ON public."User" USING btree ("deletedAt");


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: _RolePermissions_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_RolePermissions_B_index" ON public."_RolePermissions" USING btree ("B");


--
-- Name: permissions_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX permissions_category_idx ON public.permissions USING btree (category);


--
-- Name: permissions_isSystem_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "permissions_isSystem_idx" ON public.permissions USING btree ("isSystem");


--
-- Name: permissions_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX permissions_key_key ON public.permissions USING btree (key);


--
-- Name: roles_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "roles_companyId_idx" ON public.roles USING btree ("companyId");


--
-- Name: roles_isSystem_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "roles_isSystem_idx" ON public.roles USING btree ("isSystem");


--
-- Name: roles_name_companyId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "roles_name_companyId_key" ON public.roles USING btree (name, "companyId");


--
-- Name: Customer Customer_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EventLog EventLog_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventLog"
    ADD CONSTRAINT "EventLog_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EventLog EventLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventLog"
    ADD CONSTRAINT "EventLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Feedback Feedback_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Feedback"
    ADD CONSTRAINT "Feedback_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Feedback Feedback_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Feedback"
    ADD CONSTRAINT "Feedback_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Invoice Invoice_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PaymentMethod PaymentMethod_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentMethod"
    ADD CONSTRAINT "PaymentMethod_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subscription Subscription_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UsageRecord UsageRecord_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UsageRecord"
    ADD CONSTRAINT "UsageRecord_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserCompany UserCompany_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserCompany"
    ADD CONSTRAINT "UserCompany_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserCompany UserCompany_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserCompany"
    ADD CONSTRAINT "UserCompany_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserCompany UserCompany_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserCompany"
    ADD CONSTRAINT "UserCompany_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserInvitation UserInvitation_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserInvitation"
    ADD CONSTRAINT "UserInvitation_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserInvitation UserInvitation_invitedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserInvitation"
    ADD CONSTRAINT "UserInvitation_invitedBy_fkey" FOREIGN KEY ("invitedBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserInvitation UserInvitation_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserInvitation"
    ADD CONSTRAINT "UserInvitation_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: _RolePermissions _RolePermissions_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_RolePermissions"
    ADD CONSTRAINT "_RolePermissions_A_fkey" FOREIGN KEY ("A") REFERENCES public.permissions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _RolePermissions _RolePermissions_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_RolePermissions"
    ADD CONSTRAINT "_RolePermissions_B_fkey" FOREIGN KEY ("B") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: roles roles_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "roles_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

